body {
  background-color: #141414;
  color: white;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-app > .row::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  transition: 0.1s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

.homeLogo {
  font-size: 2rem;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  background-image: url("./Images/movie-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

.logo-picture {
  height: 250px;
  margin-bottom: 50px;
}

.logo-navbar {
  height: 50px;
}

.navbar-brand:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.title {
  margin-top: 30px;
  margin-bottom: 5px;
}

.overview {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
}

.image {
  border: 3px solid white;
  border-radius: 5px;
}

.info {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 30px;
  margin-top: 30px;
}