body {
  background-color: #141414;
  color: white;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-app > .row::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  transition: 0.1s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

.modal {
  /* background-color: #141414; */
  color: #141414;
}

.homeLogo {
  font-size:  2rem;
}